*{
    margin: 0px;
    padding: 0;
}

.drum-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, orange, yellow)
}
.instrument{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    
}
.zoom{
    /* height: 120px; */
    padding: 18px;
    background-color: rgb(207, 71, 71);
    /* width: 120px; */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    box-shadow: 5px 4px 6px 1px rgb(66, 66, 66);
    transition: all 0.2s;
}
.zoom img{
    height: 90px;
    width: 90px;
}
.zoom:active{
    box-shadow: 1px 1px 1px -2px rgb(66, 66, 66);
    /* height: 117px;
    width: 117px; */
}
.zoom:active img{
    height: 83px;
    width: 83px;
}
#buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    width: 50px;
    height: 47px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    
}
ul img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px rgb(66, 66, 66);
    cursor: pointer;
    background-color: #ff5c5c;
}
ul img:active{
    box-shadow: 1px 1px 1px -2px rgb(66, 66, 66);
}
