*{
    margin: 0px;
    padding: 0;
}
body{
    overflow: hidden;
}
.ball {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    z-index: -1;
}
.drum-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.instrument{
    height: 195px;
    width: 135px;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;    
    position: relative;
}
.zoom{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    background-color: rgb(192, 157, 18);
    box-shadow: 5px 4px 6px 1px rgb(66, 66, 66);
    transition: all 0.2s;
}
.zoom img{
    height: 90px;
    width: 90px;
    transition: all 0.2s;
}
.zoom:active{
    box-shadow: 1px 1px 1px -2px rgb(66, 66, 66);
    height: 113px;
    width: 113px;
}
.zoom:active img{
    height: 83px;
    width: 83px;
}
#buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    width: 50px;
    height: 47px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    
}
ul img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px rgb(66, 66, 66);
    cursor: pointer;
    background-color: #ff5c5c;
}
ul img:active{
    box-shadow: 1px 1px 1px -2px rgb(66, 66, 66);
}
.key{
    position: absolute;
    text-align:center;
    bottom: 2px;
}
.key img{
    height: 40px;
    width: 40px;
}
